title {
    color: black;
    font: 55px;
}
h2 {
    font-size: 45px;
    text-align: left;
    color: white;
}
body {
font: 40px;
background-color: slategrey;
border-style: double;
float: left;
}
h1 {
    text-align: left;
    font-size: 40px;
    color:black;
    margin-left: 20px'
}
p {
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 15px;
  }
.image {
     width: 200px;
     height: 200px;
     text-align: left;
   }

button:hover {
        background: grey;
        color: lime;
        border: 8px blueviolet;
        cursor: pointer;
    }
 
.links {
        margin-top: right;
        text-align: right;
    }
.container {
     border-radius: 5px;
     background-color: lightskyblue;
     padding: 40px;
     text-align: left;
     border-spacing: 15px;
     
}

.a {
  border: 8px solid slateblue;
  background-color: black;
  width: 1575px;
  font-size: 35px;
  border-image: center;
   
}
.portfolio {
    text-align: left;
    
}
h3 {
    font: 45px;
    color: blue;

}
.work {
    text-align: center;
    height: 200px;
    width: 200px;
}
.main-port-container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:45px;
    width:100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.aboutMe {

    background: lightgreen;
    text-align: justify;

}